@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scroll bar Light and Dark Mode*/
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #065ad8; /* Scrollbar color */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

.scroll-container {
  scrollbar-color: #065ad8 #f1f1f1; /* For Firefox */
  scrollbar-width: thin;
}

/* Dark Mode Scrollbar */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #0874e3;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #262c35;
  }

  .scroll-container {
    scrollbar-color: #0874e3 #262c35;
    scrollbar-width: thin;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: pretty;
  }
}
@layer base {
  :root {
    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }
}

/* For the Sidebar layout */
.mainWidth {
  width: calc(100% - 20rem);
  float: right;
}
@media screen and (max-width: 1023px) {
  .mainWidth {
    width: 100%;
  }
}
